SCM_CLIENT_ID=
SCM_CLIENT_SECRET=
SCM_TSG_ID=
SCM_FOLDER=Shared
SCM_POSITION=pre

PANOS_HOST_PRIMARY=cal-pht1.abcts.ca
PANOS_HOST_SECONDARY=cal-pht2.abcts.ca
PANOS_USERNAME=
PANOS_PASSWORD=
PANOS_VSYS=vsys1
